<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfeDuilio - Trigonometría</title>
    <link rel="stylesheet" href="{{url_for('static', path='css/estadistica.css')}}">
    <script src="{{url_for('static', path='js/estadistica.js')}}" defer></script>
</head>
<body>
    <div class="container">
        <h1>ESTADÍSTICA</h1>
        <h2>Curso práctico</h2>
        <p id="mensaje">Descubre los principios esenciales de la estadística de manera sencilla y práctica.</p>
        <nav>
            <ul>
                <li><a href="#opcion1">Ejercicios</a></li>
                <li><a href="#" id="opcion2">Teoría</a></li>
            </ul>
        </nav>
        <div id="contenido1" class="contenido">
            <div class="columna">
                <p>Medidas de Tendencia Central</p>
            </div>
            <div class="columna">
                <p>Suscríbete al Canal y entra a la Play List</p>
                <button class="youtube-button"><a href="https://www.youtube.com/playlist?list=PLu4HTZYHaueT1xtR3k8c41dTC-Izrs31H" target="_blank">Ver en YouTube</a></button>
            </div>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="columna">
                    <p>Estoy preparando el contenido.</p>
                </div>
                <div class="columna">
                    <p>Regresa pronto !</p>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
