<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">


	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/primaria_aritmetica.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->
    <title>ProfeDuilio | Aritmética 5° Primaria</title>
</head>
<body>

    <details name="saber">
        <summary class="saber">Cap. I Adición y Sustracción de Números Naturales</summary>
            <p class="rpta">Respuesta 1</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. II	Problemas de adición y sustracción</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Multiplicación de Números Naturales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV	División de Números Naturales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. V	Problemas de multiplicación y división</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI	Potenciación en N - Radicación en N		
            Operaciones combinadas II</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II 	Relaciones entre Conjuntos	Operaciones entre conjuntos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. III	Problemas con operaciones de Conjuntos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>					
    <details name="saber">
        <summary class="saber">Cap. IV	Múltiplo de un número</summary>
            <p class="rpta">Respuesta 2</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. V	Números primos y compuestos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. VI	Divisibilidad MCD y MCM	- Repaso</summary>
            <p class="rpta">Respuesta 2</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. I 	Fracciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II	Clases de fracciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. III	Adición y sustracción de fracciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. IV	Multiplicación y división de fracciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. V	Operaciones combinadas y problemas con fracciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. VI	Regla de tres simple Porcentaje</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. I	Números decimales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>						
    <details name="saber">
        <summary class="saber">Cap. II	Adición y sustracción con números decimales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III	Multiplicación y división con números decimales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV	Operaciones y resolución de problemas con números decimales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. V	Sistema de numeración hasta la centena de millón Valor absoluto y relativo de un número</summary>
            <p class="rpta">Respuesta 2</p>
    </details>					
    <details name="saber">
        <summary class="saber">Cap. VI	Definición de base de un numeral
            Conversión de bases 2, 3, 4 y 5 a base 10	
                    Ejercicios de cambio de base - Repaso</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
</body>
</html>