<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">


	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/primaria_aritmetica.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->
	<title>ProfeDuilio | Aritmética 6° Primaria</title>
</head>
<body>

    <details name="saber">
        <summary class="saber">Cap. I Adición y sustracción en IN</summary>
            <p class="rpta">Respuesta 1</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. II Multiplicación y división en IN</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Números enteros ZZ</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV	Adición y sustracción en ZZ:<br>Operaciones combinadas</summary>
            <p class="rpta">Respuesta 2</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. V	Multiplicación y división en ZZ</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI	Conjunto de los números racionales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VII	Operaciones con fracciones (+; –; x; ÷)</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber"><b>2B</b>	Cap. I	Notación decimal de los números racionales (Q) –	
            Fracción generatriz</summary>
            <p class="rpta">Respuesta 2</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II	Operaciones con números decimales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. III	Operaciones combinadas en Q	
            Relaciones entre las cuatro operaciones</summary>
            <p class="rpta">Respuesta 2</p>
    </details>					
    <details name="saber">
        <summary class="saber">Cap. IV	Conjuntos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. V	Clases de conjuntos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. VI	Operaciones entre conjuntos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. VII	Problemas con conjuntos - Repaso</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber"><b>3B</b>Cap. I 	Sistema de numeración decimal</summary>
            <p class="rpta">Respuesta 2</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II	Sistema de numeración no decimal</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. III	Transformación de sistemas de numeración	
            Repaso de sistemas de numeración</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. IV	Propiedades de los números</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. V	Criterios de divisibilidad</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI	Máximo Común Divisor (M.C.D.) 
            Mínimo Común Múltiplo (m.c.m)</summary>
            <p class="rpta">Respuesta 2</p>
    </details>						
    <details name="saber">
        <summary class="saber">CaP. VII	Resolución de problemas de M.C.D. y m.c.m.	
            Repasemos lo aprendido</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber"><b>4B</b>Cap. I 	Razón - Proporciones - Propiedad fundamental 
            de proporcionalidad</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II	Magnitudes proporcionales</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. III	Regla de Tres Simple</summary>
            <p class="rpta">Respuesta 2</p>
    </details>					
    <details name="saber">
        <summary class="saber">Cap. IV	Porcentaje - Interés Simple</summary>
            <p class="rpta">Respuesta 2</p>
    </details>		
    <details name="saber">
        <summary class="saber">Cap. VI	Elaboración e interpretación de gráficos 
            estadísticos</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VII	Medidas de tendencia central - Probabilidades	
            Repaso</summary>
            <p class="rpta">Respuesta 2</p>
    </details>
</body>
</html>