<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">


	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/primaria_aritmetica.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->
    <title>ProfeDuilio | Aritmética 1° Secundaria</title>
</head>
<body>

    <details name="saber">
        <summary class="saber"><b>1B</b>Cap. I Recursos Operativos</summary>
            <p class="rpta">Respuesta 1</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. II	Números Racionales I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. III   Números Racionales II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. IV   Sistema Internacional de unidades</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V	Teoría de conjuntos I </summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. VI  Teoría de conjuntos II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>

    <details name="saber">
        <summary class="saber"><b>2B</b>Cap. I Relaciones Binarias</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II Numeración I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III  Numeración II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV  Adición</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V   Sustracción</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI Miscelánea</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    
    <details name="saber">
        <summary class="saber"><b>3B</b>Cap. I Multiplicación</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II División</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Divisibilidad</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. IV  Criterio de divisibilidad</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V   Clasificación números entero I ( primos)</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI  Clasificación números enteros II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>


    <details name="saber">
        <summary class="saber"><b>4B</b>Cap. I MCM</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II Potenciación</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III  Radicación</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV  Estadística</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Análisis combinatorio</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Análisis combinatorio</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI  Probabilidades</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    

</body>
</html>