<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Hojas de Estilo -->
	<!--<link rel="stylesheet" href="{{url_for('static', path='css/welcome.css')}}">-->
    <link rel="stylesheet" href="static/css/welcome.css">
	<title>ProfeDuilio | Matemáticas | Secundaria</title>
</head>
<body>


<div id="quinto-p">
    <div id="quinto">5</div>
    <div id="que-debes-saber-5">
        <p>Qué debes saber si vas o estás en 5°</p>
    </div>
    <div id="ejercicios-5">
        <p>Ejercicios Resueltos</p>
    </div>
    <div id="coleccion-5">Colección de Ejercicios<br> PARA PRACTICAR</div>
    <div id="descargar-5p">
        <a href="#" id="btn-descarga-5p">DESCARGA GRATIS</a>
    </div>
</div>    

<div id="mira-redes"></div>

<div id="sexto-p">
    <div id="sexto"></div>
    <div id="que-debes-saber-6"></div>
    <div id="ejercicios-6"></div>
    <div id="coleccion-6">Colección de Ejercicios<br> PARA PRACTICAR</div>
    <div id="descargar-6p">
        <a href="#" id="btn-descarga-5p">DESCARGA GRATIS</a>
    </div>
</div>    

</body>    