<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">


	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/primaria_aritmetica.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->
    <title>ProfeDuilio | Aritmética 3° Secundaria</title>
</head>
<body>

    <details name="saber">
        <summary class="saber"><b>1B</b>Cap. I Razones</summary>
            <p class="rpta">Respuesta 1</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. II	Proporciones</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. III Serie de Razones</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. IV Promedios I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Promedios II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. VI Magnitudes Proporcionales</summary>
            <p class="rpta">Respuesta 1</p>
    </details>

    <details name="saber">
        <summary class="saber"><b>2B</b>Cap. I Reglas de Tres</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II Aplicaciones de magnitudes I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Aplicaciones de magnitudes II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV Porcentajes</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Aplicaciones de tanto porciento</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI Aplicaciones comerciales</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    
    <details name="saber">
        <summary class="saber"><b>3B</b>Cap. I Regla de interés I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II Regla de interés II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Regla de descuento I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. IV Regla de descuento II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Regla de mezcla I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI Regla de mezcla II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>


    <details name="saber">
        <summary class="saber"><b>4B</b>Cap. I Estadística I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II Estadística II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Análisis combinatorio I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV Análisis combinatorio II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Probabilidades I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI Probabilidades II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>

</body>
</html>