<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">


	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/primaria_aritmetica.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->
    <title>ProfeDuilio | Aritmética 4° Secundaria</title>
</head>
<body>

    <details name="saber">
        <summary class="saber"><b>1B</b>Cap. I Lógica Proposicional</summary>
            <p class="rpta">Respuesta 1</p>
    </details>				
    <details name="saber">
        <summary class="saber">Cap. II	Teoria de Conjuntos I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. III Teoria de Conjuntos II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>			
    <details name="saber">
        <summary class="saber">Cap. IV Numeración I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Numeración II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. VI Adición y Sustracción</summary>
            <p class="rpta">Respuesta 1</p>
    </details>

    <details name="saber">
        <summary class="saber"><b>2B</b>Cap. I MULTIPLICACIÓN Y DIVISIÓN</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II SUCESIONES</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III DIVISIBILIDAD I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. IV DIVISIBILIDAD II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V ESTUDIO  DE LOS ENTEROS POSITIVOS I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI ESTUDIO  DE LOS ENTEROS POSITIVOS II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    
    <details name="saber">
        <summary class="saber"><b>3B</b>Cap. I MÁXIMO COMÚN DIVISOR</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. II MÍNIMO COMÚN MÚLTIPLO</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III POTENCIACIÓN</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. IV RADICACIÓN</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V NÚMEROS IRRACIONALES I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI NÚMEROS IRRACIONALES II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>


    <details name="saber">
        <summary class="saber"><b>4B</b>Cap. I Estadística I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. II Estadística II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. III Estadística III</summary>
            <p class="rpta">Respuesta 1</p>
    </details>    
    <details name="saber">
        <summary class="saber">Cap. IV Análisis Combinatorio I</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. V Análisis Combinatorio II</summary>
            <p class="rpta">Respuesta 1</p>
    </details>
    <details name="saber">
        <summary class="saber">Cap. VI Probabilidades</summary>
            <p class="rpta">Respuesta 1</p>
    </details>

</body>
</html>