body{background: #262626; color:whitesmoke;}

/*FONTS clases*/
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#000;
  }

  .hind-light {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .hind-regular {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .container{
    margin:0px auto;
    width: 98%;
    border:1px solid rgba(255,255,255,0.11);
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo"
    "explica"
    "cero-1"
    "mentalidad-2"
    "espacio-3"
    "material-4"
    "durante-5"
    "fuera-6"
    "examenes-7"
    ;
    gap:30px;
}
.container div{
    border:1px solid olive; padding: 0px 5px 0px 5px;    padding: 5px;
}

#titulo{margin-top: 0px;}
#titulo h1{font-size: 3.5rem; color:cyan; text-align: center;}
#titulo h5{text-align: center; font-size: 1.25rem; line-height: 2px;}

#explica{text-align: center;}
    #explica p{font-style: oblique; font-weight: 400; letter-spacing: 1px;}
/*
Elementos
*/
.bx{font-size: 4rem;}
.numtip{
        font-size: 9rem;
            background: rgba(35, 35, 35, 1);
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
                        0px 0px 10px rgba(255, 255, 255, 1), 
                        0px 0px 15px rgba(255, 255, 255, 1),
                        0px 0px 20px rgba(219, 112, 147, 1),
                        0px 0px 30px rgba(219, 112, 147, 1),
                        0px 0px 40px rgba(219, 112, 147, 1),
                        0px 0px 55px rgba(219, 112, 147, 1),
                        0px 0px 75px rgba(219, 112, 147, 1);
        background: #444;
}
    .numtip p{font-size: 1.5rem;}
.clave{
    padding: 2px 6px 2px 6px;
    border:1px solid palevioletred;
    color:white;
    background: palevioletred;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;

}


#redes li{
		display: inline-block;
		margin-right: 10px;
		padding: 4px;
}
    #redes li i{font-size: 3rem;}


/*
#profes li{
        display: inline;
		margin-right: 40px;
		padding: 2px;
} 

    #profes li img{display: inline-block; width: 12%;border-radius: 50%;}

    #profes li:first-child img{border: 2px solid white;}

#nomprofes{margin-top: -20px; grid-area: nom-profes;}
#nomprofes li{
    display: inline-block;
    margin-right: 45px;
    padding: 6px;
    line-height: 15px;
}
*/   
/*
DIVs DE TIPS
*/
.cero-1{
    grid-area: cero-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;
}
    #numtip-1{grid-area: numtip; grid-column:1 / 1 ; grid-row: 1 / 3; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #tittip{grid-area: tittip; grid-column:2 / -1; grid-row:1 / 2; border:1px solid #555; display: grid;justify-content: center; align-content: center;}
    #restip{grid-area: restip; grid-column:2 / -1; grid-row:2 / 3; border:1px solid #555; padding-left:10px;}
    #lemtip{grid-area: lemtip; grid-column:1 / -1; grid-row: 4 / -1; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}

    #lemtip p{ font-size: 1.25rem;}
    .tittip h3{color:white; letter-spacing: 3px;}

.mentalidad-2{
    grid-area: mentalidad-2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}
    #numtip-2{grid-column:1 / 1 ; grid-row: 1 / 3; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #img-mentalidad{grid-column:2 / -1 ; grid-row: 1 / 3; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #tittip-2{grid-column:1 / 1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #lemtip-2{grid-column:2 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #tiptip-2{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(53,69,82);}

    #tiptip-2 p{font-weight: 500;}
    #hand-right{font-size: 1.75rem;}
    #img-mentalidad img{border-radius: 40px;}

.espacio-3{
    grid-area: espacio-3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}
    #numtip-3{grid-column:1 / 1 ; grid-row: 1 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #tittip-3{grid-column:2 / -1; grid-row: 2 ; border:2px solid #555; display: grid; justify-content: center; align-content: center; padding-left:10px;}
    #img-espacio{grid-column:2 / -1 ; grid-row: 3 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #lemtip-3{grid-column:1 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #tiptip-3{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(53,69,82);}

    #tiptip-3 p{font-weight: 500;}
    #img-espacio img{border-radius: 40px;}
    

.material-4{
    grid-area: material-4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}

#numtip-4{grid-column:1 / 1 ; grid-row: 1 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
#tittip-4{grid-column:2 / -1; grid-row: 2 ; border:2px solid #555; display: grid; justify-content: center; align-content: center; padding-left:10px;}
#img-bibliografia{grid-column:2 / -1 ; grid-row: 3 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
#lemtip-4{grid-column:1 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
#tiptip-4{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(23,37,62);}

#tiptip-4 p{font-weight: 500;}

#solo-profes{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    place-content: center;
    justify-content: center;
    grid-template-areas:
    "profes"
    "nomprofes";
    padding-top: 40px;
}

#profes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "pfd pfj pfa pfu";
}

#nomprofes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "npfd npfj npfa npfu";
    margin-top: -35px;
    line-height: 15px;
}

#pfd{grid-area: pfd; width: 55%; border-radius:50%}
#npfd{grid-area: npfd;}
#pfj{grid-area: pfj; width: 55%; border-radius:50%}
#npfj{grid-area: npfj;}
#pfa{grid-area: pfa; width: 55%; border-radius:50%}
#npfa{grid-area: npfa;}
#pfu{grid-area: pfu; width: 55%; border-radius:50%}
#npfu{grid-area: npfu;}

#profes{border: 1px solid rgba(135, 135, 135, 0.15); padding-top: 5px;}


.durante-5{
    grid-area: durante-5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}

#numtip-5{grid-column:1 / 1 ; grid-row: 1 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
#tittip-5{grid-column:2 / -1; grid-row: 2 ; border:2px solid #555; display: grid; justify-content: center; align-content: center; padding-left:10px;}
#img-bibliografia{grid-column:2 / -1 ; grid-row: 3 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
#lemtip-5{grid-column:1 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
#tiptip-5{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(23,37,62);}

#tiptip-5 p{font-weight: 500;}
#lemtip-5 h2{letter-spacing: 2px; font-size: 2.5rem; font-weight: 700;}
#lemtip-5 #preguntar, #lemtip-5 #comentar{font-weight: 700; font-size: 1.5rem; color:greenyellow; letter-spacing: 0.5rem; text-align: center; border-radius: 50%; border: 1px solid yellow;}

#preguntar{background: #555;}#comentar{background: #333;}
#durante-clase-2{border-radius: 50%; width: 50%; margin: 0px auto; border: 2px solid #777;}

.fuera-6{
    grid-area: fuera-6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}
    #numtip-6{grid-column:1 / 1 ; grid-row: 1 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #tittip-6{grid-column:2 / -1; grid-row: 2 ; border:2px solid #555; display: grid; justify-content: center; align-content: center; padding-left:10px;}
    #img-fuera-clase{grid-column:2 / -1 ; grid-row: 3 / 4; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #lemtip-6{grid-column:1 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #tiptip-6{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(53,69,82);}

    #tiptip-6 p{font-weight: 500;}
    #hand-down{font-size: 1.55rem;}

.examenes-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    min-height: auto;    
}
    #numtip-7{grid-column:1 / 1 ; grid-row: 1 / 3; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #img-examen{grid-column:2 / -1 ; grid-row: 1 / 3; border:1px dotted #555; display: grid; justify-content: center; align-content: center;}
    #tittip-7{grid-column:1 / 1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #lemtip-7{grid-column:2 / -1; grid-row: 4 / 5; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px;}
    #tiptip-7{grid-column:1 / -1; grid-row: 6 ; border:2px solid #555; display: grid; justify-content: left; align-content: center; padding-left:10px; background: rgb(53,69,82);}

    #tiptip-7 p{font-weight: 500;}
    #hand-right{font-size: 1.75rem;}