<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/tips-resumen-estudiar-matematicas.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--FONTs -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">
	<title>ProfeDuilio | Matemáticas | Blog </title>
</head>
<body>

<div class="container">

<div id="titulo">
    <h1 class="bebas-neue-regular titulo">7 TIPs para Estudiar Matemáticas</h1>
    <h5>De colegio a Universidad</h5>
</div>

<div class="cero-1">
    
    <div id="numtip-1" class="numtip bebas-neue-regular">1</div>
    <div id="tittip" class="bebas-neue-regular"><h3>Celular y TV apagados</h3></div>
    <div id="restip" class="hind-light"><p><i class='bx bxl-whatsapp' style='color:#25e41a'  ></i>Publica en WhatsApp: apagado por estudio!</p><p><i class='bx bxs-music' style='color:#ffffff' ></i>Música: solo si es suave!</p><p><i class='bx bx-mobile' style='color:#2090dc' ></i>Vale ponerlo en modo "No Molestar"</p></div>
    <div id="lemtip" class="hind-regular"><p class="clave">Esto requiere caracter y fuerza de voluntad !</p></div>

</div>

<div class="mentalidad-2">
    <div class="numtip bebas-neue-regular bebas-neue-regular">2</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="espacio-3">
    <div class="numtip bebas-neue-regular">3</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="material-4">
    <div class="numtip bebas-neue-regular">4</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="durante-5">
    <div class="numtip bebas-neue-regular">5</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="fuera-6">
    <div class="numtip bebas-neue-regular">6</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="examenes">
    <div class="numtip bebas-neue-regular">7</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

</div><!-- Fin div.container -->
</body>
</html>