<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/tips-resumen-estudiar-matematicas.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>ProfeDuilio | Matemáticas | Blog </title>
</head>
<body>

<div class="container">

<div class="cero-1">
    
    <div id="numtip" class="numtip">1</div>
    <div id="tittip"><h3>Celular y TV apagados</h3><p>xxxx yyyy zzzzz!</p><p>xxxx yyyy zzzzz!</p></div>
    <div id="restip"><p>Publica que tu celular estará pagado!</p></div>
    <div id="icotip"><i class='bx bx-mobile' style='color:#2090dc' ></i></div>
    <div id="lemtip">Vale ponerlo en modo "No Molestar"</div>

</div>

<div class="mentalidad-2">
    <div class="numtip">2</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="espacio-3">
    <div class="numtip">3</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="material-4">
    <div class="numtip">4</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="durante-5">
    <div class="numtip">5</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="fuera-6">
    <div class="numtip">6</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

<div class="examenes">
    <div class="numtip">7</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, facilis aperiam nostrum porro tempora quam at aspernatur doloribus suscipit, maiores unde cum aliquid nisi rerum dolorem eligendi quae dicta!</p>
</div>

</div><!-- Fin div.container -->
</body>
</html>