<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Hojas de Estilo -->
	<link rel="stylesheet" href="{{url_for('static', path='css/tips-resumen-estudiar-matematicas.css')}}">
    <!--<link rel="stylesheet" href="static/css/welcome.css">-->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--FONTs -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Onest:wght@200&display=swap" rel="stylesheet">
	<title>ProfeDuilio | Matemáticas | Blog </title>
</head>
<body>

<div class="container">

<div id="titulo">
    <h1 class="bebas-neue-regular titulo">7 TIPs para Estudiar Matemáticas</h1>
    <h5>De colegio a Universidad</h5>
</div>

<div id="explica">
    <p class="hind-light">
        No se trata de inteligencia nata, se trata de tiempo, organización y dedicación para desarrollarla.
    </p>
</div>

<div class="cero-1">
    
    <div id="numtip-1" class="numtip bebas-neue-regular"><p>TIP</p>1</div>
    <div id="tittip" class="bebas-neue-regular tittip"><h3>Apaga Celular y TV</h3></div>
    <div id="restip" class="hind-light"><p><i class='bx bxl-whatsapp' style='color:#25e41a'  ></i>Publica en WhatsApp: apagado por estudio!</p><p><i class='bx bxs-music' style='color:#ffffff' ></i>Música: solo si es suave!</p><p><i class='bx bx-mobile' style='color:#2090dc' ></i>Vale ponerlo en modo "No Molestar"</p></div>
    <div id="lemtip" class="hind-regular"><p class="clave">Esto requiere caracter y fuerza de voluntad !</p></div>

</div>

<div class="mentalidad-2">
    <div id="numtip-2" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>2</div>
    <div id="img-mentalidad"><img src="{{url_for( 'static', path='img/brain-1.jpeg')}}" alt="Mentalidad para aprender Matemáticas con ProfeDuilio.cloud" width="100%"></div>
    <div id="tittip-2" class="bebas-neue-regular tittip"><h3>HACKEA TU CEREBRO <i id="hand-right" class='bx bxs-hand-right bx-flashing' style='color:#bb8b12' ></i></h3></div>
    <div id="lemtip-2" class="hind-light"><p>Dile a tu cerebro lo que necesitas aprender !!!</p><p>Lee en voz alta lo que quieras:
        <ul>
            <li>¿Qué es un circulo trigonométrico?</li>
            <li>¿Cómo entiendo la Propiedad ....</li>
            <li>¿Por qué no se puede dividir entre cero</li>
            <li>¿Cuántos sistemas de números existen?</li>
        </ul>
        <p class="clave">La clave está en leer en voz alta y con verdadero interés/enfasis.</p>
    </div>
    <div id="tiptip-2" class="hind-light"><p>Escribe las preguntas en tu cuaderno y además trasladalas al profesor.</p>
                     <p>Si tienes las respuestas coméntalas en clase y/o crea un Block por Temas.</p>
    </div>

</div>

<div class="espacio-3">
    <div id="numtip-3" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>3</div>
    <div id="img-espacio"><img src="{{url_for( 'static', path='img/espacio-1.jpeg')}}" alt="Crea tu propio espacio de estudio para aprender Matemáticas: consejo de ProfeDuilio.cloud" width="100%"></div>
    <div id="tittip-3" class="bebas-neue-regular tittip"><h3>ESPACIO DE ESTUDIO</h3></div>
    <div id="lemtip-3" class="hind-light"><p>Crea tu propio espacio/ambiente de estudio !!!<br> (solo si aún no lo tienes)</p><p>No tiene que ser muy grande; procura que:
        <ul>
            <li>Sea ordenado y limpio</li>
            <li>Tenga adecuada iluminación</li>
            <li>Este alejado de bulla y tránsito de personas/mascotas</li>
            <li>Tenga un letrero: <b>ESTOY ESTUDIANDO</b> ... <i>no interrumpir</i></li>
        </ul>
        <p class="clave">La clave está en tener un espacio individual y sin distracciones!</p>
    </div>
    <div id="tiptip-3" class="hind-light"><p>Debes comunicar en casa tu horario de estudio y respetar el horario de los demas familiares.</p>
                    
    </div>
</div>

<div class="material-4">
    <div id="numtip-4" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>4</div>
    <div id="img-bibliografia"><img src="{{url_for( 'static', path='img/bibliografia-1.jpeg')}}" alt="Crea tu propio espacio de estudio para aprender Matemáticas: consejo de ProfeDuilio.cloud" width="100%"></div>
    <div id="tittip-4" class="bebas-neue-regular tittip"><h3>MATERIAL DE ESTUDIO</h3></div>
    <div id="lemtip-4" class="hind-light"><p>Debes tener todo a la mano</p><p>Debes invertir uno o dos días en:</p>
        <ul>
            <li>Buscar Canales o Cuentas en Redes Sociales</li>
            <li>Tener el Syllabus o contenido del Curso</li>
            <li>Buscar y revisar Blogs y Videos</li>
            <li>Conseguir libros, separatas, balotarios, etc (físicos o en PDF)</li>
            <li>Contactar familiares o compañero(a)s a quienes enviar tus dudas</li>
        </ul>

        <ul id="redes">
            <li><i class='bx bxl-facebook-square' style='color:#1498e4' ></i></li>
            <li><i class='bx bxl-youtube' style='color:#d41420' ></i></li>
            <li><i class='bx bxl-tiktok' style='color:#ffffff' ></i></li>
            <li><i class='bx bxl-instagram' style='color:#bb8b12'  ></i></li>
            <li><i class='bx bxs-file-pdf' style='color:#b50706' ></i></li>
        </ul>
        <div id="solo-profes">
            <section id="profes">
                <img id="pfd" src="{{url_for( 'static', path='img/profeduilio.jpg')}}" alt="Foto de ProfeDuilio.cloud" width="100%">
                <img id="pfj" src="{{url_for( 'static', path='img/profejulio.png')}}" alt="Foto de Profejulio" width="100%">
                <img id="pfa" src="{{url_for( 'static', path='img/profealex.png')}}" alt="Foto de Profealex" width="100%">
                <img id="pfu" src="{{url_for( 'static', path='img/profejuan.png')}}" alt="Foto de Profejuan" width="100%">
            </section>
            <section id="nomprofes">
                <h5 id="npfd">Profe<br>Duilio</h5>
                <h5 id="npfj">Profe<br>Julio</h5>
                <h5 id="npfa">Profe<br>Alex</h5>
                <h5 id="npfu">Profe<br>Juan</h5>
            </section>
        </div>    
        
        <p class="clave">La clave está en BUSCAR MATERIAL DE ESTUDIO SOLO UNA VEZ !</p>
    </div>
    <div id="tiptip-4" class="hind-light"><p>En tu horario de estudio solo estudia o practica, ya no es momento de buscar bibliografía.</p>
    </div>    
</div>

<div class="durante-5">
    
    <div id="numtip-5" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>5</div>
    <div id="img-bibliografia"><img src="{{url_for( 'static', path='img/durante-clase-1.jpeg')}}" alt="Alumno participa en clase de Estadística y Matemáticas con el ProfeDuilio.cloud" width="100%"></div>
    <div id="tittip-5" class="bebas-neue-regular tittip"><h3>DURANTE LA CLASE</h3></div>
    <div id="lemtip-5" class="hind-light">
        <h2>PARTICIPA</h2>        
        <p id="preguntar">Pregunta</p>
        <p id="comentar">Haz<br>comentarios</p>

        <h4>¿Qué preguntar?</h4>
        <p>Tus dudas del momento y las que surgen al estudiar en casa.</p>
        <p>Mientras mas leeas y practiques más posibilidades de preguntar y aprender tendrás.</p>
        
        <img id="durante-clase-2" src="{{url_for( 'static', path='img/durante-clase-2.jpeg')}}" alt="Alumno participa en clase de Estadística y Matemáticas con el ProfeDuilio.cloud" width="100%">
        
        <p class="clave">La clave está en ir a Clase habiendo leído/practicado un poco !</p>

        <div id="anotaciones">
            <p>Toma notas en tu cuaderno, en un block de notas o en una simple hoja.</p>
            <p>Escribe lo que te parece interesante y no solo lo que aparece en la pizarra.</p>
            <p>Si tú o alguien hace una pregunta, anótala aún cuando no sea respondida. Tú buscarás la respuesta luego, si te parece un tema importante a saber.</p>
        </div>


    </div>

    
</div>

<div class="fuera-6">
    <div id="numtip-6" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>6</div>
    <div id="tittip-6" class="bebas-neue-regular tittip"><h3>FUERA DE CLASE</h3></div>
    <div id="img-fuera-clase"><img src="{{url_for( 'static', path='img/revisa-apuntes-2.png')}}" alt="Estudiando en todo lugar y aprender Matemáticas con ProfeDuilio.cloud" width="100%"></div>
    <div id="lemtip-6" class="hind-light"><p>Atento a estas recomendaciones !!!</p><p>Recuerda que son consejos, tú debes encontrar las formas de aprender y recordar que más te gusten:</p>
        <ul>
            <li>Antes de salir de casa: lleva apuntes en una hoja de papel</li>
            <li>Anota y lleva siempre lo que no entiendes o necesitas practicar</li>
            <li>Cuando viajas, repasa mentalmente o leyendo tus apuntes</li>
            <li>Aprovecha colas, viajes, momentos de espera (cine, citas médicas, etc.) para repasar o practicar</li>
        </ul>
        <p class="clave">La clave está en tener siempre tus anotaciones, un papel y un lápiz, para aprovechar el tiempo.</p>
    </div>
    <div id="tiptip-6" class="hind-light"><p>Escribe las preguntas en tu cuaderno y además trasladalas al profesor.</p>
                     <p>Si tienes las respuestas coméntalas en clase y/o crea un Block por Temas.</p>
    </div>
</div>

<div class="examenes">
    <div id="numtip-7" class="numtip bebas-neue-regular bebas-neue-regular"><p>TIP</p>7</div>
    <div id="img-examen"><img src="{{url_for( 'static', path='img/examen-terminando-1.jpg')}}" alt="Aprende a dar examen de Matemáticas con ProfeDuilio.cloud" width="100%"></div>
    <div id="tittip-7" class="bebas-neue-regular tittip"><h3>EXÁMENES <i id="hand-down" class='bx bxs-hand-down' style='color:#ef1616'></i></h3></div>
    <div id="lemtip-7" class="hind-light"><p>Siempre con tranquilidad y confianza !!!</p><p>Oportunidad de poner a prueba tu método de estudio. <br>
        Tendrías que haber estudiado teoría y practicado con muchos ejercicios. Además de haber preguntado a tu profesor u otras fuentes de consulta (amigos y familiares).
    </p>
    <p>Días antes del exámen:</p>
        <ul>
            <li>Revisa toda la teoría</li>
            <li>Resuelve muchos ejercicios y anota dudas</li>
            <li>Resume por ti solo(a) la teoría</li>
            <li>Clasifica los ejercicios por criterios como: grado de dificultad, tema u otro criterio. </li>
        </ul>
        <p class="clave">La clave para dar exámen es: resuelve primero los ejercicios fáciles.</p>
    </div>

</div>

</div><!-- Fin div.container -->
</body>
</html>